
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    min-height: 100vh;
}

.element-wrapper {
    display: grid;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.background.bottom {
    background-position: bottom center;
}

.title {
    padding-left: 10px;
    padding-right: 10px;
}
.title h1 {
    font-family: "Bahnschrift";
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: rgb(1, 1, 1);
    background: -moz-linear-gradient(180deg, rgb(1, 1, 1) 0%, rgb(63, 63, 63) 100%);
    background: -webkit-linear-gradient(180deg, rgb(1, 1, 1) 0%, rgb(63, 63, 63) 100%);
    background: linear-gradient(180deg, rgb(1, 1, 1) 0%, rgb(63, 63, 63) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 360px;
    margin: auto;
}


button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: block;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
button span {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
    display: inline-block;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.btn-sub-text {
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    font-family: "Inter";
    color: #898383;
}

.century-logo {
    display: block;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.century-logo img {
    display: block;
    max-width: 166px;
    width: 100%;
    height: auto !important;
}

.terms-text {
    color: #7E7E7E;
    font-size: 12px;
    font-family: "Inter";
    padding-left: 11.1111111vw;
    padding-right: 11.1111111vw;
}

footer {
    display: grid;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-menu a {
    font-family: "Noto Sans";
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    text-decoration: underline;
    display: block;
    text-transform: uppercase;
    line-height: 36px;
}
.footer-menu a + a {
    margin-left: 13px;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Noto Sans Display";
    font-size: 12px;
    color: #000000;
}


.terms-additional {
    display: none;
    transform: translateY(-130px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.terms-additional.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.text-link{
    text-decoration: underline;
    color: #A59B9B;
}
.phone-input {
    margin: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #E7E7E7;
    background-color: #E7E7E7;
    line-height: 58px;
    padding-left: 16px;
    padding-right: 16px;
    color: #434343;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.phone-input::placeholder {
    color: #434343;
}
.phone-input.not-validated {
    border: 1px solid #F33338;
}

.input-holder {
    margin-top: 16px;
    margin-bottom: 12px;
    width: 100%;
    position: relative;
}
.input-holder:after {
    content: "+43";
    color: #434343;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    display: block;
    position: absolute;
    left: 16px;
    top: 20px;
}
.input-holder:before {
    content: " ";
    background-color: #434343;
    height: 32px;
    width: 1px;
    display: block;
    position: absolute;
    top: 14px;
    left: 60px;
}
.input-holder.pin-holder:after, .input-holder.pin-holder:before {
    display: none;
}

.attention-text {
    color: #EEE;
    font-size: 14px;
}

.austria-terms {
    text-align: center;
    padding-right: 22px;
    padding-left: 22px;
    color: #A59B9B;
    font-weight: 400;
    font-size: 12px;
    padding-top: 22px;
}

.download-icon {
    background-image: url("../img/austria-download-icon.svg");
    background-size: 17px 23px;
    display: block;
    margin-left: 15px;
    width: 17px;
    height: 23px;
}

.austria-banner {
    background-image: url("../img/austria_banner.webp");
    background-size: cover;
    width: 100%;
    height: auto;
}

.main-subscribe-button, .send-phone-button {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #53C75E;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding: 0 12px;
    line-height: 76px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-subscribe-button span, .send-phone-button span {
    display: block;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

.backwards-link {
    color: #A4A4A4;
    text-align: center;
    width: 100%;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-transform: capitalize;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}
.backwards-link:focus, .backwards-link:hover, .backwards-link:active {
    color: #53C75E;
    text-decoration: none;
}



.checkbox-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
input[type=checkbox]{
    width: 14px;
    height: 14px;
    margin: 0 6px 2px 0;
}

.poland-orange.additional-text {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #898383;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poland-orange.additional-text span {
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.poland-orange.additional-text.sub-btn-text {
    justify-content: flex-end;
}

.poland-orange-banner {
    background-image: url("../img/poland-orange-banner.webp");
}

.poland-orange.arrow-down {
    background-image: url("../img/arrow-down-p-orange.svg");
    background-size: cover;
    width: 14px;
    height: 8px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
}
.poland-orange.arrow-down.opened {
    transform: rotate(180deg);
}

.poland-orange-link {
    text-decoration: underline;
    color: inherit;
}
.poland-orange-link:hover, .poland-orange-link:active, .poland-orange-link:focus {
    text-decoration: underline;
    color: #5BAF32;
}

.poland-orange-button-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}
.poland-orange-button-wrapper button {
    font-size: 25px;
    font-family: "Bahnschrift", sans-serif;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    line-height: 62px !important;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgb(94, 181, 50);
    background: -moz-linear-gradient(194deg, rgb(94, 181, 50) 0%, rgb(50, 112, 49) 100%);
    background: -webkit-linear-gradient(194deg, rgb(94, 181, 50) 0%, rgb(50, 112, 49) 100%);
    background: linear-gradient(194deg, rgb(94, 181, 50) 0%, rgb(50, 112, 49) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5eb532",endColorstr="#327031",GradientType=1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.poland-orange-button-wrapper button span {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-family: "Bahnschrift", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.poland-orange-button-wrapper button.send-phone-button {
    line-height: 52px !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 700;
}

.poland-orange-button-wrapper input {
    background-color: #F8F7FF;
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    line-height: 41px;
}

.poland-orange-button-wrapper .input-holder {
    margin-bottom: 17px;
    margin-top: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #4E4A4A;
}
.poland-orange-button-wrapper .input-holder::placeholder {
    color: #818181;
}
.poland-orange-button-wrapper .input-holder::before {
    color: #D9D9D9;
    height: 26px;
    left: 49px;
    top: 10px;
}
.poland-orange-button-wrapper .input-holder::after {
    content: "+43";
    color: #818181;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: block;
    position: absolute;
    left: 11px;
    top: 14px;
}
.poland-orange-button-wrapper .input-holder.pin-holder:after, .poland-orange-button-wrapper .input-holder.pin-holder:before {
    display: none !important;
}
.poland-orange-button-wrapper .attention-text {
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: left;
}

.show-more-link.poland-orange {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.show-more-link.poland-orange span {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    display: block;
    min-width: 126px;
}
.show-more-link.poland-orange i {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/arrow-down-p-orange.svg");
    width: 14px;
    height: 8px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.show-more-link.poland-orange.active i {
    transform: rotate(180deg);
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
}

.checkbox-box.poland-orange {
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #D7D6D6;
    margin-bottom: 4px;
}
.checkbox-box.poland-orange input[type=checkbox] {
    min-width: 16px;
    min-height: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    background-color: #BCBCBC;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    margin: 2px 14px 0 8px;
    border: 1px solid #BCBCBC;
    width: 16px;
    height: 16px;
    position: relative;
}
.checkbox-box.poland-orange input[type=checkbox]:checked::after {
    content: " ";
    background-color: #2F8511;
    display: block;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.poland-orange-terms {
    transform: translate(0) !important;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #D7D6D6;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url("../img/footer-sparks-bg.webp");
    background-size: cover;
    background-position: center bottom;
}
.poland-orange-terms p {
    margin-bottom: 20px;
}
.poland-orange-terms.visible-terms.terms-additional {
    display: block;
    visibility: visible;
    opacity: 1;
}

.poland-orange-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.poland-orange-footer .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 86%;
    margin-left: auto;
    margin-right: auto;
}
.poland-orange-footer .footer-menu a {
    color: #CACACA;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
}
.poland-orange-footer .footer-menu a:hover, .poland-orange-footer .footer-menu a:active, .poland-orange-footer .footer-menu a:focus {
    color: #5BAF32;
    text-decoration: underline;
}

.copyright {
    display: block;
    text-align: center;
    color: #CACACA;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}


